body {
    background-image: url("/images/full_1.jpg");
    border-left-width: 0;
    border-left-style: solid;
    margin: 0 0 0 0;
}
#backOut {
    position: fixed;
    top: 1%;
    left: 1%;
    -webkit-transform: translate(-1%, -1%);
    -ms-transform: translate(-1%, -1%);
    transform: translate(-1%, -1%);
    text-decoration: none;
    color: #5d6773;
    list-style-type: none;
}

#backOut:hover {
    text-decoration: none;
    color: #ffffff;
    border-bottom-color: rgba(220, 211, 210, 0.2);
}
#table-wrapper {
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow: auto; /* добавляем скролл, если содержимое таблицы выходит за пределы обертки */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#threadHead {
    position: sticky;
    top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: rgba(220,211,210,0.88);

}
#tbodyBody tr:hover {
    background-color: #ccc;
}


#tbodyBody tr {
    transition: all .3s;
}

#table1 {
    width: 1000px;
    border-collapse: collapse;
    table-layout: fixed;
}
a:hover{
    text-decoration: none;
    color: #ffffff;
    border-bottom-color: rgba(220, 211, 210, 0.2);
}