<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Voltage &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
    <meta name="author" content="FREEHTML5.CO"/>


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'
          rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="/css/comment.css">

    <link rel="stylesheet" href="/css/cards.css">

    <script src="/js/respond.min.js"></script>

</head>
<body>

<div id="fh5co-page">
    <div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes">

        <div class="fh5co-overlay"></div>
        <div class="fh5co-cover-text">
            <div class="container">

                <div class="row">
                    <div class="col-md-push-6 col-md-6 full-height js-full-height">
                        <a id="backOut" href="/">В админ меню</a>

                        <div class="fh5co-cover-intro">
                            <div class="parent" style="margin-left: 1200px;margin-bottom: 20px" >
                                <form action="/find1" method="post">
                                    <label for="textInput">Введите текст:</label>
                                    <input type="text" id="textInput" name="text">
                                    <button type="submit">Найти</button>
                                </form>

                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <div style="text-align: center">
                                    <h2 style="color: rgba(195,223,255,0.88);">Все комменты</h2>
                                    <div id="table-wrapper">
                                        <table id="table1">
                                            <thead id="threadHead">
                                            <tr>
                                                <th>ID</th>
                                                <th>Текст</th>
                                                <th>IsBlock</th>
                                                <th>IsDelete</th>
                                                <th>Время добавления</th>
                                                <th>ID родителя</th>
                                                <th>Автор ID</th>
                                                <th>Пост ID</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbodyBody">
                                            <tr th:each="comment: ${comments}">
                                                <td th:text="${comment.id}"></td>
                                                <td th:text="${comment.commentText}"></td>
                                                <td th:text="${comment.isBlocked}"></td>
                                                <td th:text="${comment.isDeleted}"></td>
                                                <td th:text="${comment.time}"></td>
                                                <td th:text="${comment.parentId}"></td>
                                                <td th:text="${comment.authorId}"></td>
                                                <td th:text="${comment.postId}"></td>
                                                <td><a href="#" class="delete-comment"
                                                       th:data-id="${comment.id}">Удалить</a></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div style="margin-left: 10px;text-align: center">
                                    <h2 style="color: rgba(195,223,255,0.88)">Список найденных</h2>
                                    <div id="table-wrapper2">
                                        <table id="table2">
                                            <thead id="threadHead2">
                                            <tr>
                                                <th>ID</th>
                                                <th>Текст</th>
                                                <th>IsBlock</th>
                                                <th>IsDelete</th>
                                                <th>Время добавления</th>
                                                <th>ID родителя</th>
                                                <th>Автор ID</th>
                                                <th>Пост ID</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbodyBody2">
                                            <tr th:each="find: ${commentsFind}">
                                                <td th:text="${find.id}"></td>
                                                <td th:text="${find.commentText}"></td>
                                                <td th:text="${find.isBlocked}"></td>
                                                <td th:text="${find.isDeleted}"></td>
                                                <td th:text="${find.time}"></td>
                                                <td th:text="${find.parentId}"></td>
                                                <td th:text="${find.authorId}"></td>
                                                <td th:text="${find.postId}"></td>
                                                <td><a href="#" class="delete-comment2"
                                                       th:data-id2="${find.id}">Удалить</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
